<!DOCTYPE html>

<html>

{% include head.html %}

<body>

  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}
<chat-bot platform_id="25c7f89f-6ea2-497f-9f2f-a28657a8c631" user_id="47ad0c3b-09e8-42e3-b39b-3c617ab0a75e" chatbot_id="c9721132-068e-4e1b-8d55-0130ba497ced"><a href="https://www.chatsimple.ai/?utm_source=widget&utm_medium=referral">[chatbot]</a></chat-bot><script src="https://cdn.chatsimple.ai/chat-bot-loader.js" defer></script>

</body>

</html>
